html,
body {
  background: #efefef;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 3em 0.5em;
  overflow: scroll;
}

/* General Stuff */
.text-center {
  text-align: center;
}

/* Modal */
.modal {
  display: block;
  height: 100%;
  min-height: 100em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Loader */
.content-loader {
  background: #212121;
  padding-top: 25%;
  position: fixed;
  text-align: center;
  z-index: 101;
}

/* Navigation */
.nav {
  background: #212121;
  left: 0;
  padding: 0.4em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
.nav button {
  margin: 0 2px;
  width: calc(33% - 3px);
}

/* Table */
table {
  display: table;
  margin-right: 0.5em;
}
table td {
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  cursor: pointer;
  padding: 0.8rem 1rem;
  text-align: center;
  vertical-align: middle;
}
table td:first-child,
table td:last-child {
  padding: 0.8rem 1rem;
}
table td:last-child {
  border-right: 1px solid #666;
}
table tr:last-child td {
  border-bottom: 1px solid #666;
}

/* Buttons */
button {
  display: inline-block;
  margin-bottom: 0 !important;
}
.button-small {
  font-size: 1rem;
  font-weight: normal;
  height: 2.8rem;
  letter-spacing: 1px;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
.button-blue-grey {
  background-color: #212121;
  border-color: #313131;
}
.button-blue-grey.button-clear,
.button-blue-grey.button-outline {
  background-color: transparent;
  color: #313131;
}
.button-blue-grey.button-clear {
  border-color: transparent;
}

/* Settings Modal */
div.settings {
  background: #efefef;
  padding-top: 1em;
  position: fixed;
  z-index: 102;
}


